## Introduction to Python
Open an interactive python environment (python shell, ipython shell, or jupyter notebook), run the following commands and observe the output:

### Integer, float, string, and boolean types

In [ ]:
i = 1
f = 1.1
s = "hello!"
t = True
print(f'type(i) : {type(i)}')
print(f'type(f) : {type(f)}')
print(f'type(s) : {type(s)}')
print(f'type(t) : {type(t)}')

### Conversion between types (Casting)

In [ ]:
print(f'str(i) : {str(i)}')
print(f'str(f) : {str(f)}')
print(f'int(f) : {int(f)}')
print(f'int("123") : {int("123")}')
print(f'float(i) : {float(i)}')
print(f'float("1.1") : {float("1.1")}')
print(f'int(t) : {int(t)}')
print(f'int(False) : {int(False)}')

### Basic operation

In [ ]:
a = 3
b = 10
print(f'a*b : {a*b}')
print(f'a+b : {a+b}')
print(f'b**a : {b**a}')
print(f'b/a : {b/a}')
print(f'b//a : {b//a}')
print(f'b%a : {b%a}')

In [ ]:
c = 4
c *= 3
print(f'c : {c}')

In [ ]:
print(f'a == b : {a == b}')
print(f'a != b : {a != b}')
print(f'a < b : {a < b}')
print(f'a > b : {a > b}')
print(f'a <= b : {a <= b}')
print(f'a >= b : {a >= b}')
print(f'not(a == b) : {not(a == b)}')
print(f'a < 5 or a > 5 : {a < 5 or a > 5}')
print(f'a < 5 and a > 5 : {a < 5 and a > 5}')

### String operation

In [ ]:
s = 'hello'
s2 = 'hello'
print(f's == s2 : {s == s2}')
print(f'len(s) : {len(s)}')

r = '123'
print(f's + r : {s + r}')

print(f's[0] : {s[0]}')
print(f's[1] : {s[1]}')
print(f's[-1] : {s[-1]}')
print(f's[1:4] : {s[1:4]}')
print(f's[1:] : {s[1:]}')
print(f's[:-1] : {s[:-1]}')
print(f's[::2] : {s[::2]}')

### Tuples

In [ ]:
t = (1,2,4)
p =(2, 'abc', 13.2)
print(f'p : {p}')
print(f'p[0] : {p[0]}')
print(f'p[-1] : {p[-1]}')
print(f'len(p) : {len(p)}')
p[0] = 100   # Pay attention to the error

### List

In [ ]:
l = [1, 2, 3, 4]
print(f'l : {l}')

l = l + [True]
print(f'l : {l}')

print(f'len(l) : {len(l)}')

l.append(5)
print(f'l : {l}')

l.insert(0,100)
print(l)

print(f'100 in l : {100 in l}')
print(f'101 in l : {101 in l}')

l.extend(['a', 'b', 'c'])
print(f'l : {l}')

l.append(['e', 'f', 'g'])
print(f'l : {l}')

print(f'l.pop() : {l.pop()}')
print(f'l : {l}')
print(f'l.pop(5) : {l.pop(5)}')
print(f'l : {l}')

In [ ]:
l=[100,101,102,103,104,105,106,107,108,109,110,111,112]

print(f'l[0] : {l[0]}')
print(f'l[1] : {l[1]}')
print(f'l[-1] : {l[-1]}')
print(f'l[1:5] : {l[1:5]}')
print(f'l[::-1] : {l[::-1]}')

l.reverse()
print(f'l : {l}')

l.sort()
print(f'l : {l}')

In [ ]:
l[1] = 0
print(f'l : {l}')

### The range function

In [ ]:
print(f'range(10) : {range(10)}')
print(f'list(range(10)) : {list(range(10))}')
print(f'list(range(4,30,3)) : {list(range(4,30,3))}')

### Dictionaries

In [ ]:
d = {1: 'hello', 8: 1.4}
print(f'd[1] : {d[1]}')
print(f'd[8] : {d[8]}')
print(f'd[2] : {d[2]}')    # Error

In [ ]:
d[2] = 444
print(f'd : {d}')
print(f'd[2] : {d[2]}')

In [ ]:
d['k'] = 99
print(f'd : {d}')

In [ ]:
print(f'd.keys() : {d.keys()}')
print(f'd.values() : {d.values()}')
print(f'd.items() : {d.items()}')

In [ ]:
print(f'd : {d}')
del d['k']
print(f'd : {d}')

### Conditions

In [ ]:
i = 12
b = 1
if i == 12:
    b = 2
    print(b)

In [ ]:
i = 12
if i == 10:
    print('YES')
    print('i equals 10')
else:
    print('NO')
    print('i is not equal to 10')

In [ ]:
i = 11
b = 'salam'
if i == 12:
    print('Twelve')
elif i == 11 and b == 'hi':
    print('Eleven-hi')
elif i > 10 and b == 'salam':
    print('SALAAAMM!!')
else:
    print('None')

### while loop

In [ ]:
i = 10
while i > 0:
    print(i*i)
    i -= 2

### For loop

In [ ]:
l = [10,20,30,40.2, 'salam']
for k in l:
    print(k)

In [ ]:
for k in range(2,20):
    print(k, k*k)

In [ ]:
p = [1,2,3]
q = ['One','Two','Three']
for i in range(len(p)):
    print(p[i],q[i])

### Functions

In [ ]:
def add(a,b):
    return a+b

print(add(2,3))
print(add(2,3.1))
print(add('abc', '123'))

In [ ]:
def sum (l):
    s = 0
    for k in l:
        s += k
    return s

l = [1,2,4,8,16]
print(sum(l))
print(sum(range(10)))
print(sum(2))   # Error

#### Default argument values

In [ ]:
def add(a,b=1):
    return a+b


print(add(20,4))
print(add(20))

24
21

### Using python modules

In [ ]:
import math
print(math.cos(0), math.exp(0))
print(math.pi)
print(math.cos(math.pi))

In [ ]:
import math as m
print(m.tan(0))

In [ ]:
from math import sin, cos, exp, pi
print(exp(1), sin(pi/2))

In [ ]:
from math import *
print(pi)
print(e)
print(log(e))
print(cos(log(1)))
print(tan(pi/4))

### More practice

#### zip method

In [ ]:
p = [1,2,3]
q = ['One','Two','Three']

print(p)
print(q)
print(zip(p,q))

for x,y in zip(p,q):
    print(x,y)

#### enumerate method

In [ ]:
l = ['a', 'b', 'c']
print(l)
print()

for i,k in enumerate(l):
    print(i,k)

#### Initialization of list

In [ ]:
l = [10,20,30]
t = [2*k for k in l]
print(t)

In [ ]:
t = [k for k in range(10)]
print(t)

In [ ]:
t = [k for k in range(10) if k % 2 == 0]
print(t)

#### Lambda

In [ ]:
f = lambda x: 2*x+1
print(f(1))
print(f(2))